<template>

    <v-card>
        <v-card-title>
            Bienvenue sur votre gestionnaire d'agenda
        </v-card-title>

        <v-card-subtitle
        v-if="user.login">
            Utilisateur : {{user.login}}
        </v-card-subtitle>


        <v-divider></v-divider>

        <v-card-text
          v-if="user.login">

            <v-list>

                <v-list-subheader>
                    Vos agendas
                </v-list-subheader>

                <v-list-item
                    v-for="(agenda, index) in user.agendas"
                    :key="agenda"
                    :title="agenda.name"
                >
                    <template v-slot:append>

                        <v-dialog
                            v-model="updateAgendaDialog"
                        >
                            <template v-slot:activator="{ props }">
                                <v-btn
                                    color="green"
                                    v-bind="props"
                                    @click="updateAgendaDialog=true"
                                >
                                    Consulter
                                </v-btn>

                            </template>

                            <div class="d-flex justify-center">
                                <AddAgendaDialog
                                    @closeDialog="this.updateAgendaDialog = false"
                                    @name="name => addAgenda(name)"
                                    width="500"
                                >
                                </AddAgendaDialog>
                            </div>

                        </v-dialog>

                        <v-btn
                            icon="mdi-delete"
                            color="close"
                            @click="deleteAgenda(index)"
                        >
                        </v-btn>

                    </template>

                </v-list-item>
            </v-list>

            <v-dialog
                v-model="addAgendaDialog"
            >
                <template v-slot:activator="{ props }">
                    <v-btn
                        icon="mdi-plus"
                        v-bind="props"
                        @click="addAgendaDialog = true"
                    >

                    </v-btn>

                </template>

                <div class="d-flex justify-center">
                    <AddAgendaDialog
                        @closeDialog="this.addAgendaDialog = false"
                        @name="name => addAgenda(name)"
                        width="500"
                    >
                    </AddAgendaDialog>
                </div>

            </v-dialog>

        </v-card-text>

        <v-card-text
          v-else>

            <v-dialog
                    v-model="loginDialog"
            >
                <template v-slot:activator="{ props }">
                    <div class="flex justify-center">
                        <v-btn
                            color="primary"
                            v-bind="props"
                        >
                            Créer un compte
                        </v-btn>
                    </div>

                </template>

                <div class="d-flex justify-center">
                    <LoginDialog
                        @closeDialog="this.loginDialog = false"
                        @user="(login, password) => createUser(login, password)"
                        width="500"
                    >
                    </LoginDialog>
                </div>

            </v-dialog>

        </v-card-text>
    </v-card>
</template>

<script lang="ts">
import {User} from "@/models/User";
import {Agenda} from "@/models/Agenda";
import LoginDialog from "../components/LoginDialog.vue";
import {defineComponent} from "vue";
import AddAgendaDialog from "@/components/AddAgendaDialog.vue";
export default defineComponent({
    name: "AppHome",
    components: {
        AddAgendaDialog,
        LoginDialog
    },
    data(){
        return {
            user: new User("", ""),
            loginDialog: false,
            addAgendaDialog: false,
            updateAgendaDialog: false
        }
    },
    methods: {
        createUser(login: string, password: string){
            this.user = new User(login, password);
            this.loginDialog = false;
        },
        addAgenda(name:string) {
            this.user.addAgenda(new Agenda(name));
            this.addAgendaDialog = false;
        },
        deleteAgenda(index: number) {
            this.user.removeAgenda(index);
        }
    }
})
</script>

<style scoped>

</style>