<template>

    <v-card>
        <v-card-title>
            Ajouter une adresse
        </v-card-title>

        <v-card-text>
            <v-select
              v-model="type"
              label="Type d'adresse"
              :items="['Email', 'Address', 'Website', 'Phone']"
            ></v-select>
            <v-text-field
                    v-if="type"
                    v-model="value"
                    label="Adresse"
            ></v-text-field>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                    :disabled="type === ''"
                    prepend-icon="mdi-plus"
                    @click="addContact"
            >
                Ajouter
            </v-btn>
            <v-btn
                    color="error"
                    prepend-icon="mdi-close"
                    @click="closeAddContact"
            >
                Annuler
            </v-btn>
        </v-card-actions>
    </v-card>

</template>

<script>
import {Contact} from "@/models/Contact";

export default {
    name: "AddAddressDialog",
    data() {
        return {
            value: "",
            type: ""
        }
    },
    methods: {
        addContact(){
            this.$emit("contact", new Contact(this.name));
        },
        closeAddContact(){
            this.$emit("closeDialog");
        }
    }
}
</script>

<style scoped>

</style>