<template>

  <v-card>
      <v-card-title>
          Ajouter un agenda
      </v-card-title>

      <v-card-text>
          <v-text-field
            v-model="name"
            label="Nom de l'agenda"
          ></v-text-field>
      </v-card-text>

      <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            prepend-icon="mdi-plus"
            @click="addAgenda"
          >
              Ajouter
          </v-btn>
          <v-btn
              color="error"
              prepend-icon="mdi-close"
              @click="closeAddAgenda"
          >
              Annuler
          </v-btn>
      </v-card-actions>
  </v-card>

</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
    name: "AddAgendaDialog",
    data(){
        return {
            name: ""
        }
    },
    methods: {
        addAgenda(){
            this.$emit("name", this.name);
        },
        closeAddAgenda(){
            this.$emit("closeDialog");
        }
    }
})
</script>

<style scoped>

</style>