<template>

    <v-card>
        <v-card-title>
            Ajouter un contact
        </v-card-title>

        <v-card-text>
            <v-text-field
                    v-model="name"
                    label="Nom du contact"
            ></v-text-field>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                    prepend-icon="mdi-plus"
                    @click="addContact"
            >
                Ajouter
            </v-btn>
            <v-btn
                    color="error"
                    prepend-icon="mdi-close"
                    @click="closeAddContact"
            >
                Annuler
            </v-btn>
        </v-card-actions>
    </v-card>

</template>

<script>
import {Contact} from "@/models/Contact";

export default {
    name: "addContactDialog",
    data() {
        return {
            name: ""
        }
    },
    methods: {
        addContact(){
            this.$emit("contact", new Contact(this.name));
        },
        closeAddContact(){
            this.$emit("closeDialog");
        }
    }
}
</script>

<style scoped>

</style>