<template>
  <v-card>
      <v-card-title>
          Création d'un compte
      </v-card-title>
      <v-card-text>
          <v-form>
              <v-text-field
                v-model="login"
                label="Nom d'utilisateur"
              ></v-text-field>
              <v-text-field
                v-model="password"
                :type="password"
                label="Mot de passe"
              ></v-text-field>
          </v-form>
      </v-card-text>
      <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              prepend-icon="mdi-check"
              color="green"
              @click="createUser"
          >
              Valider
          </v-btn>
          <v-btn
              prepend-icon="mdi-close"
              color="close"
              @click="closeDialog"
          >
              Annuler
          </v-btn>
      </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import {User} from "@/models/User";
import { defineComponent } from "vue";

export default defineComponent({
    name: "LoginDialog",
    data(){
        return {
            login: "",
            password: ""
        }
    },
    methods: {
        createUser() {
            this.$emit("user", this.login, this.password);
        },
        closeDialog() {
            this.$emit("closeDialog");
        }
    }
});
</script>

<style scoped>

</style>