<template>

  <v-card>

      <v-card-title>
          Agenda {{agenda.name}}
      </v-card-title>

      <v-card-text>

          <v-list>

              <v-list-subheader>
                  Vos contacts
              </v-list-subheader>

              <v-list-group
                      v-for="(contact, indexContact) in agenda.contacts"
                      :key="contact"
              >
                  <template v-slot:activator="{ props }">
                      <v-list-item
                              v-bind="props"
                              :title="contact.name"
                      >
                          <template v-slot:prepend>
                              <v-btn
                                icon="mdi-delete"
                                color="close"
                                @click="deleteContact(indexContact)"
                              ></v-btn>
                          </template>

                      </v-list-item>
                  </template>

                  <v-list-item
                    v-for="(address, indexAddress) in contact.addresses"
                    v-bind:key="address"
                    :title="address.value"
                  >
                      <template v-slot:append>
                          <v-btn
                            icon="mdi-delete"
                            color="red"
                            @click="deleteAddress(indexContact, indexAddress)"
                          ></v-btn>
                      </template>
                  </v-list-item>
                  <v-list-item>
                      <template v-slot:append>
                          <v-dialog
                                  v-model="addAddressDialog"
                          >
                              <template v-slot:activator="{ props }">
                                  <v-btn
                                          icon="mdi-plus"
                                          v-bind="props"
                                          @click="addAddressDialog=true"
                                  ></v-btn>

                              </template>

                              <div class="d-flex justify-center">
                                  <AddAddressDialog
                                          @closeDialog="this.addAddressDialog = false"
                                          @contactDetail="contactDetail => addAddress(indexContact, contactDetail)"
                                          width="500"
                                  >
                                  </AddAddressDialog>
                              </div>

                          </v-dialog>

                      </template>
                  </v-list-item>

              </v-list-group>
          </v-list>

          <v-dialog
                  v-model="addContactDialog"
          >
              <template v-slot:activator="{ props }">
                  <v-btn
                          icon="mdi-plus"
                          v-bind="props"
                          @click="addContactDialog = true"
                  >

                  </v-btn>

              </template>

              <div class="d-flex justify-center">
                  <AddContactDialog
                          @closeDialog="this.addContactDialog = false"
                          @contact="contact => addContact(contact)"
                          width="500"
                  >
                  </AddContactDialog>
              </div>

          </v-dialog>

      </v-card-text>

  </v-card>

</template>

<script lang="ts">

import {defineComponent} from "vue";
import {Agenda} from "@/models/Agenda";
import {ContactDetail} from "@/models/ContactDetail";
import {Contact} from "@/models/Contact";
import AddAddressDialog from "@/components/AddAddressDialog.vue";
import AddContactDialog from "@/components/AddContactDialog.vue";

export default defineComponent({
    name: "UpdateAgendaDialog",
    data(){
        return {
            addAddressDialog: false,
            addContactDialog: false
        }
    },
    components: {AddAddressDialog, AddContactDialog},
    props:{
        agenda: {
            type: Agenda,
            required: true
        }
    },
    methods: {
        deleteContact(index: number){
            this.agenda.removeContact(index);
        },
        deleteAddress(indexContact: number, indexAddress: number) {
            this.agenda.contacts[indexContact].removeAdress(indexAddress);
        },
        addAddress(indexContact: number, contactDetail: ContactDetail) {
            this.agenda.contacts[indexContact].addAddress(contactDetail);
        },
        addContact(contact: Contact) {
            this.agenda.addContact(contact);
        }
    }
})
</script>

<style scoped>

</style>