<template>
  <v-app>
    <v-main class="align-center">

        <div class="d-flex justify-center align-center" >
                <Home width="800"/>
        </div>

    </v-main>
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Home from "@/views/Home.vue";

export default defineComponent({
  name: 'App',

  components: {
      Home,
  },
})
</script>
